@* Document Component (Parent) *@
<div style="border-left-width: medium; border-left-style: solid; border-left-color: crimson;">

    <p style="color:crimson">\begin(Document)</p>

    <Title>About Blazor</Title>

    <Title2><Text>Section 1</Text></Title2>

    <p style="color:crimson">\end(Document)</p>

</div>

@code {

}
