<div style="border-left-width: medium; border-left-style: solid; border-left-color: coral; margin-left:5px;">
    <p style="color:coral">\begin(Title2)</p>

    <h2 title="RenderFragment Text">@Text</h2>

    <p style="color:coral">\end(Title2)</p>
</div>

@code {
    [Parameter]
    public RenderFragment Text { get; set; }
}
